<template>
  <v-app>
    <v-app-bar
        :collapse="false"
        absolute
        scroll-target="#scrolling-techniques-6"
        app
    >
      <v-toolbar-title>CovidCERT</v-toolbar-title>

      <v-spacer></v-spacer>

      <h2 style="margin-right: 2rem" v-if="role">{{ name }} ({{ role }})</h2>
      <v-btn v-if="role" @click="logout" color="secondary">Salir</v-btn>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-main>
    <v-footer app>
      Powered by TheCatapults
    </v-footer>
  </v-app>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      role: '',
      name:''
    }
  },
  async beforeMount() {
    firebase.auth().onAuthStateChanged(async user => {
      if (!user){
        this.role = ''
      }else{
        const userRef = await firebase.firestore().doc(`user/${user.uid}`).get()
        if (!userRef.exists) return
        this.role = (userRef.data().role == "Recipient")? 'User': userRef.data().role
        this.name = userRef.data().name
      }
    })
  },
  methods: {
    logout(){
      firebase.auth().signOut()
    }
  }
}
</script>