<template>
  <v-container>
    <v-overlay v-if="loading">
      <v-progress-circular
          indeterminate
          size="64"
      ></v-progress-circular>
      <p>Cargando</p>
    </v-overlay>
    <div v-if="!loading">
      <Issuer v-if="role === 'Issuer'"/>
      <Verifier v-else-if="role === 'Verifier'"/>
      <Recipient v-else/>
    </div>
  </v-container>
</template>

<script>
import firebase from 'firebase'

import Issuer from '../views/Issuer.vue'
import Recipient from '../views/Recipient.vue'
import Verifier from '../views/Verifier.vue'

export default {
  name: 'Home',
  components: {
    Issuer,
    Recipient,
    Verifier
  },
  data(){
    return {
      role: 'Recipient',
      loading: true
    }
  },
  async beforeMount() {
    const user = firebase.auth().currentUser
    if(!user){
      this.$router.push('/login')
    }
    const userRef = await firebase.firestore().doc(`user/${user.uid}`).get()
    if (!userRef.exists) return
    this.role = userRef.data().role
    this.loading = false
  }
}
</script>
