<template>
  <div>
    <v-dialog
        v-model="dialog"
        width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" v-bind="attrs" v-on="on">
          Crear certificado <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Nuevo certificado</span>
        </v-card-title>

        <v-card-text>
          <v-container>
              <v-text-field
                  label="Numero de pasaporte"
                  v-model="newCert.passport"
                  required
              ></v-text-field>
            <v-select
                :items="certTypes"
                label="Tipo de certificado"
                v-model="newCert.type"
                required
            ></v-select>
            <v-select
                v-if="newCertIsVaccine"
                :items="vaccineTypes"
                label="Tipo de Vacuna"
                v-model="newCert.vaccineType"
                :required="newCertIsVaccine"
            ></v-select>
            <v-text-field
                type="date"
                label="Fecha del certificado"
                v-model="newCert.date"
                required
            ></v-text-field>
            <v-text-field
                type="date"
                label="Valido hasta"
                v-model="newCert.dateUntil"
                required
            ></v-text-field>
          </v-container>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
              text
              @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
              color="primary"
              text
              @click.prevent="submit"
          >
            Crear
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Pasaporte
          </th>
          <th class="text-left">
            Tipo
          </th>
          <th class="text-left">
            Vacuna
          </th>
          <th class="text-left">
            Hash
          </th>
          <th class="text-left">
            Fecha
          </th>
          <th class="text-left">
            Validez
          </th>
          <th class="text-left">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in tokens"
            :key="item.id"
        >
          <td>
            <a :href="transactionLink(item.txHash)" target="_blank">
              {{ item.passport }}
            </a>
          </td>
          <td>{{ item.type }}</td>
          <td>{{ item.type === 'Vacunado' ? item.vaccineType : '-' }}</td>
          <td>{{ item.hash.hash }}</td>
          <td>{{ item.dateF }}</td>
          <td>{{ item.dateUntilF }}</td>
          <td>
            <v-dialog
                v-model="revokeDialog"
                persistent
                max-width="290"
                v-if="!item.burned && item.dateUntil.toDate() > new Date()"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="red"
                    v-bind="attrs"
                    v-on="on"
                >
                  Revocar
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  Confrirmación
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                      color="primary"
                      text
                      @click="revokeDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn
                      color="red"
                      text
                      @click="()=>burnToken(item.tokenId)"
                  >
                    Revocar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <span class="red--text" v-else-if="item.dateUntil.toDate() < new Date()">Vencido</span>
            <a v-else class="red--text" :href="transactionLink(item.burnTx)" target="_blank">Revocado</a>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-overlay v-if="loading" class="text-center" absolute opacity=".9" z-index="1000">
      <v-progress-circular
          indeterminate
          :size="64"
      ></v-progress-circular>
      <div v-if="waitingForTxHash">
        Esperando confirmación
        <br>
        <a class="white--text" :href="transactionLink(waitingForTxHash)" target="_blank">{{this.waitingForTxHash}}</a>
      </div>
    </v-overlay>
  </div>
</template>

<script>
import { createHash } from 'crypto'
import { ethers } from 'ethers'
import firebase from 'firebase'
import Config from '../config'
import dayjs from 'dayjs'

dayjs.extend(require('dayjs/plugin/utc'))

export default {
  name: 'Issuer',
  data () {
    return {
      dialog: false,
      revokeDialog: false,
      loading: false,
      waitingForTxHash: '',
      newCert: {},
      tokens: [],
      issuer: {},
      certTypes: ['Vacunado', 'Recuperado'],
      vaccineTypes: [{
        text: 'Pfizer 1',
        value: 'BNT162b2-1'
      }, {
        text: 'Pfizer 2',
        value: 'BNT162b2-2'
      }, {
        text: 'Astraseneca 1',
        value: 'AZD1222-1'
      },{
        text: 'Astraseneca 2',
        value: 'AZD1222-2'
      },{
        text: 'Sinovac 1',
        value: 'Sinovac-1'
      },{
        text: 'Sinovac 2',
        value: 'Sinovac-2'
      },{
        text: 'Sputnik V 1',
        value: 'SputnikV-1'
      },{
        text: 'Sputnik V 2',
        value: 'SputnikV-2'
      }]
    }
  },
  computed: {
    newCertTxLink() {
      return this.transactionLink(this.newCert.txHash)
    },
    newCertIsVaccine() {
      return this.newCert.type === 'Vacunado'
    }
  },
  async mounted() {
    this.loading = true
    const tokensRef = firebase.firestore().collection('token').where('issuer.uid', '==', firebase.auth().currentUser.uid)
    tokensRef.onSnapshot((tokens)=>{
      this.tokens = tokens.docs.map(doc => {
        const data = doc.data()
        return {
          ...data,
          id: doc.id,
          dateF: dayjs(data.date.toDate()).utc().format('DD/MM/YYYY'),
          dateUntilF: dayjs(data.dateUntil.toDate()).utc().format('DD/MM/YYYY')
        }
      })
      this.tokens.sort((a,b)=>b.date.toDate() - a.date.toDate())
    })
    const issuerRef = await firebase.firestore().doc(`user/${firebase.auth().currentUser.uid}`).get()
    if (!issuerRef.exists) return
    this.issuer = issuerRef.data()
    this.loading = false
    this.resetNewCert()
  },
  methods: {
    resetNewCert() {
      this.newCert = {
          passport: '',
          type: '',
          vaccineType: '',
          txHash: '',
          date: (new Date()).toISOString().slice(0,10),
          issuer: this.issuer,
          dateUntil: dayjs().add(6, 'months').utc().format('YYYY-MM-DD'),
      }
    },
    transactionLink(txHash){
      return `https://${Config.blockchain.network}.etherscan.io/tx/${txHash}`
    },
    tokenLink(tokenId){
      return `https://${Config.blockchain.network}.etherscan.io/token/${Config.blockchain.tokenAddress}?a=${tokenId}`
    },
    computeTokenHash(certData){
      const vaccineType = certData.type === 'Vacunado' ? certData.vaccineType : '-'
      const createdAt = new Date(certData.date).getTime()
      const content = `${certData.passport}_${certData.type}_${vaccineType}_${createdAt}`
      const hash = createHash('sha256').update(content, 'utf8').digest('hex')
      return {
        content,
        hash
      }
    },
    async burnToken(tokenId) {
      this.loading = true
      const provider = new ethers.providers.InfuraWebSocketProvider(Config.blockchain.network, Config.blockchain.infuraId)
      const adminWallet = ethers.Wallet.fromMnemonic(Config.blockchain.adminMnemonic).connect(provider)
      const contract = new ethers.Contract(Config.blockchain.tokenAddress, Config.blockchain.tokenABI, adminWallet)
      const tx = await contract.burn(tokenId)
      this.waitingForTxHash = tx.hash
      const tokenData = await firebase.firestore().collection('token').where('tokenId', '==', tokenId).get()
      tokenData.docs.map(token => {
        token.ref.update({
          burned: true,
          burnTx: tx.hash
        })
      })
      await tx.wait(1)
      this.loading = false
      this.waitingForTxHash = ''
      this.revokeDialog = false
    },
    async submit () {
      this.loading = true
      const provider = new ethers.providers.InfuraWebSocketProvider(Config.blockchain.network, Config.blockchain.infuraId)

      const userQuery = await firebase.firestore().collection('user').where('passport', '==', this.newCert.passport).limit(1).get()
      if (userQuery.empty) {
        this.loading = false
        return alert("No hay ningun usuario registrado con este pasaporte")
      }
      const user = userQuery.docs[0].data()

      const adminWallet = ethers.Wallet.fromMnemonic(Config.blockchain.adminMnemonic).connect(provider)
      const contract = new ethers.Contract(Config.blockchain.tokenAddress, Config.blockchain.tokenABI, adminWallet)

      const hash = this.computeTokenHash(this.newCert)
      const tokenId = (new Date()).getTime()
      const tx = await contract.mint(adminWallet.address, tokenId, `0x${hash.hash}`)
      this.newCert.txHash = tx.hash
      this.waitingForTxHash = tx.hash
      await firebase.firestore().collection('token').add({
        ...this.newCert,
        hash,
        txHash: tx.hash,
        uid: user.uid,
        tokenId,
        date: new Date(this.newCert.date),
        dateUntil: new Date(this.newCert.dateUntil),
        createdAt: new Date()
      })
      await tx.wait(3)
      this.resetNewCert()
      this.loading = false
      this.waitingForTxHash = ''
      this.dialog = false
    },
  },
}
</script>