<template>
  <v-container fluid fill-height>
    <v-overlay v-if="loading">
      <v-progress-circular
          indeterminate
          size="64"
      ></v-progress-circular>
      <p>Cargando</p>
    </v-overlay>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm4 elevation-6>
        <v-toolbar class="pt-5 blue darken-4">
          <v-toolbar-items>
            <v-toolbar-title class="white--text"><h4>Login</h4></v-toolbar-title>
          </v-toolbar-items>
        </v-toolbar>
        <v-card>
          <v-card-text class="pt-4">
            <div>
              <v-form ref="form" @submit.prevent="submit">
                <v-text-field
                    label="Enter your e-mail address"
                    v-model="email"
                    required
                ></v-text-field>
                <v-text-field
                    label="Enter your password"
                    v-model="password"
                    type="password"
                    counter
                    required
                ></v-text-field>
                <v-layout justify-space-between align-center>
                  <v-btn type="submit" class="blue darken-4 white--text">Login</v-btn>
                  <a href="">Forgot Password</a>
                  <router-link to="/sign-up">Sign up</router-link>
                </v-layout>
              </v-form>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import firebase from "firebase";

export default {
  data() {
    return {
      loading: false,
      email: '',
      password: ''
    };
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        await firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        this.$router.push('/')
      } catch (e) {
        alert(e.message())
      }
      this.loading = false
    }
  }
};
</script>