<template>
  <div>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Pasaporte
          </th>
          <th class="text-left">
            Tipo
          </th>
          <th class="text-left">
            Vacuna
          </th>
          <th class="text-left">
            Hash
          </th>
          <th class="text-left">
            Fecha
          </th>
          <th class="text-left">
            Valido hasta
          </th>
          <th class="text-left">
            Emisor
          </th>
          <th class="text-left">
            Valido
          </th>
        </tr>
        </thead>
        <tbody>

          <tr
              v-for="item in tokens"
              :key="item.id"
              @click.stop="selectCert(item)"
          >
            <td>{{ item.passport }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.type === 'Vacunado' ? item.vaccineType : '-' }}</td>
            <td>{{ item.hash.hash }}</td>
            <td>{{ item.dateF }}</td>
            <td>{{ item.dateUntilF }}</td>
            <td>{{ item.issuer.name}}</td>
            <td>
              <span v-if="!item.burned && item.dateUntil.toDate() > new Date()" class="green--text">Valido</span>
              <span v-else-if="item.dateUntil.toDate() < new Date()" class="red--text">Vencido</span>
              <span v-else class="red--text">Revocado</span>
            </td>
          </tr>

        </tbody>
      </template>
    </v-simple-table>
    <template>
      <v-dialog
          id="cert-modal"
          transition="dialog-bottom-transition"
          max-width="800"
          v-model="dialog"
      >
      <template v-slot:default="dialog">
        <v-card>
          <v-toolbar
              color="primary"
              dark
              class="text-h4"
          >Certificate for {{currentCert.passport}}</v-toolbar>
          <v-card-text>
            <v-row class="pa-1 mt-4">
              <v-col cols="12">
                <span v-if="!currentCert.burned && currentCert.dateUntil.toDate() > new Date()" class="green--text">Valido</span>
                <span v-else-if="currentCert.dateUntil.toDate() < new Date()" class="red--text">Vencido</span>
                <span v-else class="red--text">Revocado</span>
              </v-col>
            </v-row>
            <v-row class="pa-1 mt-4">
              <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Tipo:</v-col>
              <v-col cols="12" sm="10" xs="12"> {{ currentCert.type }}</v-col>
            </v-row>
            <v-row class="pa-1 mt-4" v-if="currentCert.type === 'Vacunado'">
              <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Vacuna:</v-col>
              <v-col cols="12" sm="10" xs="12"> {{ currentCert.vaccineType }}</v-col>
            </v-row>
            <v-row class="pa-1">
              <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Fecha:</v-col>
              <v-col cols="12" sm="10" xs="12"> {{ currentCert.dateF }}</v-col>
            </v-row>
            <v-row class="pa-1">
              <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Valido hasta:</v-col>
              <v-col cols="12" sm="10" xs="12"> {{ currentCert.dateUntilF }}</v-col>
            </v-row>
            <v-row class="pa-1">
              <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Emisor:</v-col>
              <v-col cols="12" sm="10" xs="12"> {{ currentCert.issuer.name }}</v-col>
            </v-row>
            <v-row class="pa-1">
            <v-col cols="12" sm="2" xs="12" class="text-subtitle-2">Hash:</v-col>
            <v-col cols="12" sm="10" xs="12">
              <a :href="transactionLink(currentCert.txHash)" target="_blank">
                {{ currentCert.hash.hash }}
              </a>
            </v-col>
          </v-row>
          <div class="pa-4 d-flex justify-center"><img :src="currentCert.qrUrl" alt="currentCert.url"/></div>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
                text
                @click="dialog.value = false"
            >Close</v-btn>
            <v-btn
                @click="print"
            >Print
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
      </v-dialog>
    </template>
  </div>
</template>

<script>
import firebase from 'firebase'
import Config from '../config'
import QRious from 'qrious'
import dayjs from "dayjs";

export default {
  name: 'Recipient',
  data () {
    return {
      dialog: false,
      loading: false,
      fullscreen: false,
      currentCert: {
        passport: '',
        type: '',
        vaccineType: '',
        txHash: '',
        date: '',
        dateUntil: '',
        issuer: {}
      },
      tokens: [],
    }
  },
  computed: {
    viewCertTxLink() {
      return this.transactionLink(this.newCert.txHash)
    }
  },
  async mounted() {
    this.loading = true
    const userId =  firebase.auth().currentUser.uid
    const tokensRef = firebase.firestore().collection('token').where("uid", "==", userId)
    tokensRef.onSnapshot((tokens)=>{
      this.tokens = tokens.docs.map(doc => {
        const data = doc.data()
        return {
          ...data,
          id: doc.id,
          dateF: dayjs(data.date.toDate()).utc().format('DD/MM/YYYY'),
          dateUntilF: dayjs(data.dateUntil.toDate()).utc().format('DD/MM/YYYY')
        }
      })
      this.tokens.sort((a,b)=>b.date.toDate() - a.date.toDate())
    })
    this.loading = false
  },
  methods: {
    transactionLink(txHash){
      return `https://${Config.blockchain.network}.etherscan.io/tx/${txHash}`
    },
    tokenLink(tokenId){
      return `https://${Config.blockchain.network}.etherscan.io/token/${Config.blockchain.tokenAddress}?a=${tokenId}`
    },
    selectCert(cert) {
      this.currentCert = cert;
      const qrValue = `${cert.type}_${cert.vaccineType || '-' }_${cert.date.toDate().getTime()}`
      const qr = new QRious({
        value: qrValue,
        size: 300
      });
      this.currentCert.qrUrl = qr.toDataURL();
      this.dialog = true;
    },
    print(){
      window.print()
    }
  },
}
</script>
<style>
@media print {
  body {
    overflow: auto;
    height: auto;
  }
  .scroll-y, .v-dialog.v-dialog--active {
    height: auto;
    overflow: visible !important;
  }
  .v-dialog.v-dialog--active {
    margin: 0;
    position: fixed;
    top: 0;
  }
  .v-overlay__scrim {
    background-color: #ffffff !important;
   opacity: 1 !important;
  }
  button {
    display: none !important;
    visibility: hidden;
  }
}
</style>