<template>
    <v-container fluid fill-height class="loginOverlay">
      <v-overlay v-if="loading">
        <v-progress-circular
            indeterminate
            size="64"
        ></v-progress-circular>
        <p>Cargando</p>
      </v-overlay>
      <v-layout flex align-center justify-center>
        <v-flex xs12 sm4 elevation-6>
          <v-toolbar class="pt-5 blue darken-4">
            <v-toolbar-items>
              <v-toolbar-title class="white--text"><h4>Sign up</h4></v-toolbar-title>
            </v-toolbar-items>
          </v-toolbar>
          <v-card>
            <v-card-text class="pt-4">
              <div>
                <v-form ref="form" @submit.prevent="submit">
                  <v-text-field
                      name="username"
                      label="Enter your name"
                      v-model="name"
                      required
                  ></v-text-field>
                  <v-text-field
                      name="passport"
                      label="Numero de pasaporte"
                      v-model="passport"
                      required
                  ></v-text-field>
                  <v-text-field
                      name="email"
                      label="Enter your e-mail address"
                      v-model="email"
                      required
                  ></v-text-field>
                  <v-text-field
                      name="password"
                      label="Enter your password"
                      v-model="password"
                      type="password"
                      counter
                      required
                  ></v-text-field>
                  <v-layout justify-space-between>
                    <v-btn type="submit" class="blue darken-4 white--text">Sign up</v-btn>
                  </v-layout>
                </v-form>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
</template>


<script>
import firebase from "firebase";
import {ethers} from 'ethers'

export default {
  data() {
    return {
      loading: false,
      name: '',
      email: '',
      passport: '',
      password: ''
    };
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        const res = await firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        const wallet = ethers.Wallet.createRandom()
        await firebase.firestore().doc(`user/${res.user.uid}`).set({
          uid: res.user.uid,
          address: wallet.address,
          pk: wallet.privateKey,
          role: 'Recipient',
          passport: this.passport,
          name: this.name
        },{
          merge: true
        })
        res.user.updateProfile({displayName: this.name})
        await firebase.auth().signInWithEmailAndPassword(this.email,this.password)
        this.$router.push('/')
      } catch (e) {
        alert(e.message)
      }
      this.loading = false
    }
  }
};
</script>