<template>
  <v-container>
    <div class="text-right" v-if="!scanning">
      <v-btn color="primary" @click.prevent="scanning = true">Scan</v-btn>
    </div>
    <div class="text-right" v-if="scanning">
      <v-btn color="primary" @click.prevent="scanning = false">Stop scanning</v-btn>
    </div>
    <v-row no-gutters  v-if="scanning">
      <v-col
          md="2"
          offset-md="5"
      >
        <qrcode-stream @decode="onDecode"></qrcode-stream>
      </v-col>
    </v-row>
    <v-text-field
        label="Número de pasaporte"
        v-model="passport"
        required
    ></v-text-field>
    <v-select
        :items="certTypes"
        label="Tipo de certificado"
        v-model="type"
        required
    ></v-select>
    <v-select
        v-if="type === 'Vacunado'"
        :items="vaccineTypes"
        label="Vacuna"
        v-model="vaccineType"
        :required="type === 'Vacunado'"
    ></v-select>
    <v-text-field
        type="date"
        label="Fecha del certificado"
        v-model="date"
        required
    ></v-text-field>
    <div class="text-right">
      <v-btn color="primary" @click.prevent="verify">Verificar</v-btn>
    </div>
    <v-overlay v-if="this.loading" class="text-center">
      <v-progress-circular
          indeterminate
          :size="64"
      ></v-progress-circular>
    </v-overlay>
    <v-dialog
        max-width="800"
        v-model="showConfirmation"
    >
      <template>
        <v-card>
          <v-card-text>
            <div class="pa-12 pb-4 text-center">
              <div v-if="txHash && tokenData.dateUntil && tokenData.dateUntil.toDate() > new Date()">
                <v-icon :size="128" color="green">mdi-check-circle</v-icon>
                <br>
                <span class="text-h4">Certificado existente</span>
                <br>
                <a class="text-lg-body-1 mt-6 d-block" :href="transactionLink(txHash)" target="_blank">{{ certHash }}</a>
              </div>
              <div v-else-if="tokenData.dateUntil && tokenData.dateUntil.toDate() < new Date()">
                <v-icon :size="128" color="red">mdi-alert-circle</v-icon>
                <br>
                <span class="text-h4">Certificado vencido</span>
                <br>
                <a class="text-lg-body-1 mt-6 d-block" :href="transactionLink(txHash)" target="_blank">{{ certHash }}</a>
              </div>
              <div v-else>
                <v-icon :size="128" color="red">mdi-alert-circle</v-icon>
                <br>
                <span class="text-h4">Certificado inexistente</span>
                <br>
                <span class="text-lg-body-1 mt-6 d-block">{{ certHash }}</span>
              </div>
            </div>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn @click="closeConfirmation">Cerrar</v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </v-container>
</template>

<script>
import {ethers} from "ethers";
import Config from "@/config";
import {createHash} from "crypto";
import firebase from 'firebase'
import { QrcodeStream } from 'vue-qrcode-reader'
import dayjs from "dayjs";

export default {
  name: 'Verifier',
  data() {
    return {
      passport: '',
      type: '',
      vaccineType: '',
      date: '',
      tokenHash: '',
      tokenData: {},
      tokenExist: false,
      loading: false,
      showConfirmation: false,
      txHash: '',
      certHash: '',
      isBurned: false,
      certTypes: ['Vacunado', 'Recuperado'],
      vaccineTypes: [{
        text: 'Pfizer 1',
        value: 'BNT162b2-1'
      }, {
        text: 'Pfizer 2',
        value: 'BNT162b2-2'
      }, {
        text: 'Astraseneca 1',
        value: 'AZD1222-1'
      },{
        text: 'Astraseneca 2',
        value: 'AZD1222-2'
      },{
        text: 'Sinovac 1',
        value: 'Sinovac-1'
      },{
        text: 'Sinovac 2',
        value: 'Sinovac-2'
      },{
        text: 'Sputnik V 1',
        value: 'SputnikV-1'
      },{
        text: 'Sputnik V 2',
        value: 'SputnikV-2'
      }],
      scanning: false
    }
  },
  methods: {
    transactionLink(txHash){
      return `https://${Config.blockchain.network}.etherscan.io/tx/${txHash}`
    },
    closeConfirmation() {
      this.showConfirmation = false
      setTimeout(()=>{
        this.txHash = ''
        this.certHash = ''
        this.tokenData = {}
      },500)
    },
    async verify(){
      this.loading = true
      const provider = new ethers.providers.InfuraWebSocketProvider(Config.blockchain.network, Config.blockchain.infuraId)
      const contract = new ethers.Contract(Config.blockchain.tokenAddress, Config.blockchain.tokenABI, provider)
      const vaccineType = this.type === 'Vacunado' ? this.vaccineType : '-'
      const createdAt = new Date(this.date).getTime()
      const content = `${this.passport}_${this.type}_${vaccineType}_${createdAt}`
      const hash = createHash('sha256').update(content, 'utf8').digest('hex')
      this.certHash = hash
      const filter = contract.filters.Mint(null, null, `0x${hash}`)
      const events = await contract.queryFilter(filter)
      const validate = await Promise.all(events.map(async event => {
        let isBurned, tokenData
        try{
          await contract.ownerOf(event.args.tokenId);
          tokenData = await firebase.firestore().collection('token').where('tokenId', '==', event.args.tokenId.toNumber()).get()
          if (!tokenData.empty) {
            tokenData = tokenData.docs[0].data()
          }
          isBurned = false
        } catch (e) {
          console.error(e)
          isBurned = true
        }
        return {
          isBurned,
          tokenData,
          txHash: event.transactionHash
        }
      }))
      const valid = validate.find(i => !i.isBurned)
      if (valid) {
        this.isBurned = false
        this.txHash = valid.txHash
        this.tokenData = valid.tokenData
      }
      this.showConfirmation = true
      this.loading = false
    },
    onDecode (decodedString) {
      const values = decodedString.split('_')
      if(values.length != 3 || this.certTypes.indexOf(values[0]) == -1 ) return false;
      if(values[1] !== '-' && !this.vaccineTypes.find((it)=>values[1] == it.value)) return false;
      const parsedDate = parseInt(values[2])
      if (isNaN(parsedDate)) { return false }
      const tempDate = dayjs(parsedDate).utc()
      if(!tempDate.isValid()) return false;
      this.scanning = false
      this.type = values[0]
      this.vaccineType = (values[1] != '-')? values[1]: '';
      this.date = tempDate.format('YYYY-MM-DD')
    }
  },
  components : { QrcodeStream }
}
</script>